In [ ]:
def nombre_de_la_función(x):

  y = x + 5
  y = y ** 2

  return y

In [ ]:
nombre_de_la_función(5)

100

# Programación funcional

In [ ]:
def funcion_x(x, y, z):
  return x + y + z

In [ ]:
variable_externa = 5

def funcion_z(x):
  nueva_variable = x + variable_externa
  return nueva_variable

In [ ]:
funcion_z(6)

11

En programación funcional la variable externa no se puede cambiar y  no se debe renombrar variables (deben ser tratadas como inmutables)

In [ ]:
def funcion_a_guardar(y):
  return y

funcion_var = funcion_a_guardar

In [ ]:
funcion_var

In [ ]:
#-> Big o notation

## map

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
def multiplicar_por_10(numero):

  return numero * 10

In [ ]:
map(multiplicar_por_10, numeros)

In [ ]:
list(map(multiplicar_por_10, numeros))

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
def convertir_numero_a_string(numero):

  return f"{numero} seg"

In [ ]:
list(map(convertir_numero_a_string, numeros))

['1 seg',
 '2 seg',
 '3 seg',
 '4 seg',
 '5 seg',
 '6 seg',
 '7 seg',
 '8 seg',
 '9 seg',
 '10 seg']

In [ ]:
def convertir_numero_a_negativo(numero):

  return numero * -1

In [ ]:
list(map(convertir_numero_a_negativo, numeros))

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [ ]:
def convertir_a_0_si_menor_a_5(numero):

  if numero < 5:

    return 0

  else:
    return numero

In [ ]:
list(map(convertir_a_0_si_menor_a_5, numeros))

[0, 0, 0, 0, 5, 6, 7, 8, 9, 10]

In [ ]:
def convertir_a_True_si_mayor_a_4(numero):

  if numero > 4:
    return True
  else:
    return False

In [ ]:
list(map(convertir_a_True_si_mayor_a_4, numeros))

[False, False, False, False, True, True, True, True, True, True]

## filter
Toma una función y una lista, ve qué valor cumple con cierta condición y elimina aquellos que no lo hagan

In [ ]:
numero = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
def numero_es_par(numero):

  if numero % 2 == 0:

    return True
  
  else:

    return False

In [ ]:
list(filter(numero_es_par, numero))

[2, 4, 6, 8, 10]

In [ ]:
def numero_es_mayor_a_5(numero):

  if numero > 5:

    return True
  
  else:

    return False

In [ ]:
list(filter(numero_es_mayor_a_5, numero))

[6, 7, 8, 9, 10]

In [ ]:
palabras = ["achicoria", "pasto", "sol", "loquillo", "moquillo", "sed", "pez", "jacaranda", "mil"]

def palabra_tiene_mas_de_5_caracteres(palabra):

  if len(palabra) > 5:
    return True

In [ ]:
list(filter(palabra_tiene_mas_de_5_caracteres, palabras))

['achicoria', 'loquillo', 'moquillo', 'jacaranda']

In [ ]:
def numer_es_negativo(numero):

  if numero < 0:

    return True

# Operadores lógicos

AND ambas condiciones deben cumplirse para devolver True
OR una debe cumplirse para que devuelva True
NOT

In [ ]:
usuario = "Rafa"
password = "1234"
usuario_input = input("Usuario")
password_input = input("Contraseña")
eval_1  = usuario == usuario_input
eval_2 = password == password_input

if eval_1 and eval_2:

  print("Hola")

UsuarioRafa
Contraseña1234
Hola

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [ ]:
def numero_es_divisible_entre_3(numero):

  if numero % 3 == 0:
    return True

  else:

    return False

def numero_es_mayor_a_10(numero):

  if numero > 10:
    return True
  
  else:
    return False

In [ ]:
x = 12
numero_es_divisible_entre_3(x) and numero_es_mayor_a_10(x)

True

In [ ]:
def numero_es_divisible_entre_3_y_mayor_a_10(numero):

  return numero_es_divisible_entre_3(numero) and numero_es_mayor_a_10(numero)

In [ ]:
list(filter(numero_es_divisible_entre_3_y_mayor_a_10, numeros))

[12, 15, 18]

In [ ]:
clima = "Lluvia"

if clima == "Lluvia" or clima == "Aire":
  print("Levantar toldo")

else:
  print("No levantar toldo")

Levantar toldo

In [ ]:
def numero_es_divisible_entre_3_y_mayor_a_10(numero):

  return numero_es_divisible_entre_3_y_mayor_a_10

# Función lambda
Es una función "anónima", toma todos los argumentos posibles pero solo realiza una expresión

In [ ]:
#lambda argumento : lo que va a realizar(expresión única)
lambda x : x *100

In [ ]:
def funcion_alterna(x):
  
  return x * 100

In [ ]:
funcion_alterna

In [ ]:
var_lambda = lambda x: x + 10

In [ ]:
var_lambda(5)

15

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8 ,9, 10,11 ,12 ,13 ,14]

In [ ]:
def numero_es_divisible_entre_3(numero):

  if numero % 3 == 0:
    
    return True

  else:

    return False

In [ ]:
list(filter(numero_es_divisible_entre_3, numeros))

[3, 6, 9, 12]

In [ ]:
#Simplificando con lambda
list(filter(lambda numero: numero % 3 ==0, numeros))

[3, 6, 9, 12]

In [ ]:
list(filter(lambda x: not numero_es_divisible_entre_3(x), numeros))

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14]

In [ ]:
palabras = ["achicoria", "pasto", "sol", "loquillo", "moquillo", "sed", "pez", "jacaranda", "mil"]

list(filter(lambda x: len(x) > 5, palabras))

['achicoria', 'loquillo', 'moquillo', 'jacaranda']

In [ ]:
numeros = [-1, 4, 5, 6, -5, 7, -3]

list(filter(lambda x: x < 0, numeros))

[-1, -5, -3]

In [ ]:
list(filter(lambda x: not x < 0, numeros))

[4, 5, 6, 7]