# Paquetes

Para instalar un paquete desde Colab poner ! antes de pip, es como acceder a la terminal

In [ ]:
!pip install pyjokes

Collecting pyjokes
  Downloading https://files.pythonhosted.org/packages/6a/0e/4a824a4fc93b9725a985fcea7115927b72f2ca6966008300a982cb869720/pyjokes-0.6.0-py2.py3-none-any.whl
Installing collected packages: pyjokes
Successfully installed pyjokes-0.6.0

In [ ]:
import pyjokes

In [ ]:
pyjokes.get_joke()

"There are 10 types of people: those who understand binary and those who don't."

# Pandas
Panel Data

In [ ]:
import pandas as pd

#Series
Una serie es parecida a un arreglo

In [ ]:
pd.Series

pandas.core.series.Series

In [ ]:
serie_1 = pd.Series([3, 7, 9, 11])

In [ ]:
serie_1

0     3
1     7
2     9
3    11
dtype: int64

In [ ]:
serie_2 = pd.Series([3, 7, 9, 11], index = [10, 11, 12, 13])

In [ ]:
serie_2

10     3
11     7
12     9
13    11
dtype: int64

In [ ]:
serie_2.dtype

dtype('int64')

In [ ]:
serie_3 = pd.Series([3,7,9,11], index = ["a", "b", "c", "d"])

In [ ]:
serie_3

a     3
b     7
c     9
d    11
dtype: int64

In [ ]:
serie_NuncaHagasEsto= pd.Series([3,7,9,11], index = ["a", "hola", "d", "c"])

In [ ]:
serie_NuncaHagasEsto

a        3
hola     7
d        9
c       11
dtype: int64

In [ ]:
datos = {
    "Raul": 37,
    "Andres": 95,
    "Hiram" : 264,
    "Naila" : 726
}

In [ ]:
serie_5 = pd.Series(datos)

In [ ]:
serie_5

Raul       37
Andres     95
Hiram     264
Naila     726
dtype: int64

In [ ]:
serie_1.loc[2] #Se pone el valor del índice

9

In [ ]:
serie_5.loc["Hiram"] #Para acceder a un diccionario se usa la llave

264

In [ ]:
serie = pd.Series(["a", "b", "c", "d", "e", "f", "g", "h", "i"])

In [ ]:
serie.loc[4]

'e'

In [ ]:
serie.loc[[1, 5, 4]]

1    b
5    f
4    e
dtype: object

In [ ]:
serie.loc[[8, 7 ,2, 4, 1, 3, 6, 6]]

8    i
7    h
2    c
4    e
1    b
3    d
6    g
6    g
dtype: object

In [ ]:
serie.loc[:4]

0    a
1    b
2    c
3    d
4    e
dtype: object

In [ ]:
serie.loc[3:6]

3    d
4    e
5    f
6    g
dtype: object

In [ ]:
serie_desordenada = serie.loc[[8, 7 ,2, 4, 1, 3, 6]]

KeyError: ignored

In [ ]:
serie_desordenada.loc[7]

'h'

In [ ]:
serie =

In [ ]:
pd.DataFrame

pandas.core.frame.DataFrame

In [ ]:
serie = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9], index = ["a", "b", "c", "d", "e", "f", "g", "h", "i"])

In [ ]:
serie.loc["c":"e"]

c    3
d    4
e    5
dtype: int64

In [ ]:
serie.loc["c":"e"]

c    3
d    4
e    5
dtype: int64

# Data Frames

In [ ]:
datos = {
    'columna_1': ['valor_fila_0', 'valor_fila_1', 'valor_fila_2', 'valor_fila_3', 'valor_fila_4'],
    'columna_2': ['valor_fila_0', 'valor_fila_1', 'valor_fila_2', 'valor_fila_3', 'valor_fila_4'],
    'columna_3': ['valor_fila_0', 'valor_fila_1', 'valor_fila_2', 'valor_fila_3', 'valor_fila_4'],
    'columna_4': ['valor_fila_0', 'valor_fila_1', 'valor_fila_2', 'valor_fila_3', 'valor_fila_4']
}

In [ ]:
df = pd.DataFrame(datos)

In [ ]:
df

      columna_1     columna_2     columna_3     columna_4
0  valor_fila_0  valor_fila_0  valor_fila_0  valor_fila_0
1  valor_fila_1  valor_fila_1  valor_fila_1  valor_fila_1
2  valor_fila_2  valor_fila_2  valor_fila_2  valor_fila_2
3  valor_fila_3  valor_fila_3  valor_fila_3  valor_fila_3
4  valor_fila_4  valor_fila_4  valor_fila_4  valor_fila_4

In [ ]:
df  = pd.DataFrame(datos, index = ["a", "b", "c", "d", "e"])

In [ ]:
df

      columna_1     columna_2     columna_3     columna_4
a  valor_fila_0  valor_fila_0  valor_fila_0  valor_fila_0
b  valor_fila_1  valor_fila_1  valor_fila_1  valor_fila_1
c  valor_fila_2  valor_fila_2  valor_fila_2  valor_fila_2
d  valor_fila_3  valor_fila_3  valor_fila_3  valor_fila_3
e  valor_fila_4  valor_fila_4  valor_fila_4  valor_fila_4

In [ ]:
df["columna_1"]

a    valor_fila_0
b    valor_fila_1
c    valor_fila_2
d    valor_fila_3
e    valor_fila_4
Name: columna_1, dtype: object

In [ ]:
df.columna_1

a    valor_fila_0
b    valor_fila_1
c    valor_fila_2
d    valor_fila_3
e    valor_fila_4
Name: columna_1, dtype: object

In [ ]:
df[["columna_1", "columna_3"]]

      columna_1     columna_3
a  valor_fila_0  valor_fila_0
b  valor_fila_1  valor_fila_1
c  valor_fila_2  valor_fila_2
d  valor_fila_3  valor_fila_3
e  valor_fila_4  valor_fila_4

In [ ]:
df.loc["a"]

columna_1    valor_fila_0
columna_2    valor_fila_0
columna_3    valor_fila_0
columna_4    valor_fila_0
Name: a, dtype: object

In [ ]:
df.loc[["a", "c"]]

      columna_1     columna_2     columna_3     columna_4
a  valor_fila_0  valor_fila_0  valor_fila_0  valor_fila_0
c  valor_fila_2  valor_fila_2  valor_fila_2  valor_fila_2

In [ ]:
df.loc["b":]

      columna_1     columna_2     columna_3     columna_4
b  valor_fila_1  valor_fila_1  valor_fila_1  valor_fila_1
c  valor_fila_2  valor_fila_2  valor_fila_2  valor_fila_2
d  valor_fila_3  valor_fila_3  valor_fila_3  valor_fila_3
e  valor_fila_4  valor_fila_4  valor_fila_4  valor_fila_4

In [ ]:
df.loc["b":"d"]

      columna_1     columna_2     columna_3     columna_4
b  valor_fila_1  valor_fila_1  valor_fila_1  valor_fila_1
c  valor_fila_2  valor_fila_2  valor_fila_2  valor_fila_2
d  valor_fila_3  valor_fila_3  valor_fila_3  valor_fila_3

In [ ]:
df.loc[["a", "c"], ["columna_2", "columna_4"]]

      columna_2     columna_4
a  valor_fila_0  valor_fila_0
c  valor_fila_2  valor_fila_2

In [ ]:
df.loc[:, "columna_2":"columna_4"]

      columna_2     columna_3     columna_4
a  valor_fila_0  valor_fila_0  valor_fila_0
b  valor_fila_1  valor_fila_1  valor_fila_1
c  valor_fila_2  valor_fila_2  valor_fila_2
d  valor_fila_3  valor_fila_3  valor_fila_3
e  valor_fila_4  valor_fila_4  valor_fila_4

In [ ]:
df.loc["c", "columna_3"]

'valor_fila_2'

In [ ]:
datos = {
    "Nombre": ["Pepinillo Hernández", "Lúpulo de Dios", "Juan Juon", "Jimmy el Patatas", "Lorenzo Retaguardias"],
    "Cereal favorito": ["Korn Floks", "Verdurinis", "Zumbaritas", "Diabetukis, Papá", "Fibra Máxima 3000"],
    "Hora del desayuno": ["11:00", "07:30", "07:00", "08:30", "09:30"]
}

df = pd.DataFrame(datos)

In [ ]:
df

                 Nombre    Cereal favorito Hora del desayuno
0   Pepinillo Hernández         Korn Floks             11:00
1        Lúpulo de Dios         Verdurinis             07:30
2             Juan Juon         Zumbaritas             07:00
3      Jimmy el Patatas   Diabetukis, Papá             08:30
4  Lorenzo Retaguardias  Fibra Máxima 3000             09:30

In [ ]:
#Agregando una nueva columna
df["Fruta con la que acompaña el cereal"] = pd.Series(["Pera", "Manzana", "Plátano", "Guayaba", "Pizza"])

In [ ]:
df

                 Nombre  ... Fruta con la que acompaña el cereal
0   Pepinillo Hernández  ...                                Pera
1        Lúpulo de Dios  ...                             Manzana
2             Juan Juon  ...                             Plátano
3      Jimmy el Patatas  ...                             Guayaba
4  Lorenzo Retaguardias  ...                               Pizza

[5 rows x 4 columns]

In [ ]:
df["Hora del desayuno"] = pd.Series(["11:30", "09:00", "03:00", "08:00", "10:00"])

In [ ]:
df

                 Nombre  ... Fruta con la que acompaña el cereal
0   Pepinillo Hernández  ...                                Pera
1        Lúpulo de Dios  ...                             Manzana
2             Juan Juon  ...                             Plátano
3      Jimmy el Patatas  ...                             Guayaba
4  Lorenzo Retaguardias  ...                               Pizza

[5 rows x 4 columns]

In [ ]:
#Quitando una columna, regresa un nuevo dataframe, no se muta
df_dropped  = df.drop(columns = ["Fruta con la que acompaña el cereal"])

In [ ]:
df

                 Nombre  ... Fruta con la que acompaña el cereal
0   Pepinillo Hernández  ...                                Pera
1        Lúpulo de Dios  ...                             Manzana
2             Juan Juon  ...                             Plátano
3      Jimmy el Patatas  ...                             Guayaba
4  Lorenzo Retaguardias  ...                               Pizza

[5 rows x 4 columns]

# JSON

In [ ]:
import json

In [ ]:
#De vincular el drive de data sets
f = open("/content/drive/MyDrive/Datasets/zomato_reviews-clean.json", "r")

In [ ]:
json_data = json.load(f)

In [ ]:
f.close()

In [ ]:
df = pd.DataFrame.from_dict(json_data)

In [ ]:
df

      has_online_delivery  price_range  ... location.city user_rating.rating_text
0                       1            3  ...     New Delhi               Very Good
1                       0            3  ...     New Delhi               Excellent
2                       1            2  ...     New Delhi               Very Good
3                       0            3  ...     New Delhi               Very Good
4                       0            3  ...     New Delhi               Very Good
...                   ...          ...  ...           ...                     ...
1175                    0            3  ...     Edinburgh               Very Good
1176                    0            3  ...     Edinburgh               Excellent
1177                    0            3  ...     Edinburgh               Excellent
1178                    0            3  ...     Edinburgh                    Good
1179                    0            3  ...     Edinburgh                    Good

[1180 rows x 8 columns]

In [ ]:
df.shape

(1180, 8)

In [ ]:
df.head(5)

   has_online_delivery  price_range  ... location.city user_rating.rating_text
0                    1            3  ...     New Delhi               Very Good
1                    0            3  ...     New Delhi               Excellent
2                    1            2  ...     New Delhi               Very Good
3                    0            3  ...     New Delhi               Very Good
4                    0            3  ...     New Delhi               Very Good

[5 rows x 8 columns]

In [ ]:
df.tail(4)

      has_online_delivery  price_range  ... location.city user_rating.rating_text
1176                    0            3  ...     Edinburgh               Excellent
1177                    0            3  ...     Edinburgh               Excellent
1178                    0            3  ...     Edinburgh                    Good
1179                    0            3  ...     Edinburgh                    Good

[4 rows x 8 columns]

In [ ]:
df.dtypes

has_online_delivery         int64
price_range                 int64
currency                   object
name                       object
cuisines                   object
location.address           object
location.city              object
user_rating.rating_text    object
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1180 entries, 0 to 1179
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   has_online_delivery      1180 non-null   int64
 1   price_range              1180 non-null   int64
 2   currency                 1180 non-null   object
 3   name                     1180 non-null   object
 4   cuisines                 1180 non-null   object
 5   location.address         1180 non-null   object
 6   location.city            1180 non-null   object
 7   user_rating.rating_text  1180 non-null   object
dtypes: int64(2), object(6)
memory usage: 123.0+ KB

In [ ]:
df.columns

Index(['has_online_delivery', 'price_range', 'currency', 'name', 'cuisines',
       'location.address', 'location.city', 'user_rating.rating_text'],
      dtype='object')