<a href="https://colab.research.google.com/github/IsauraRs/Data-Science-BEDU/blob/master/M%C3%B3dulo3/MachineLearning/Sesi%C3%B3n2/Reto02_S02_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import KFold

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/bitstampUSD_1-min_data_2012-01-01_to_2020-12-31.csv" , sep = ',')

In [ ]:
data = data.apply(pd.to_numeric, errors = 'coerce')
data = data.dropna()

In [ ]:
data = data.reset_index(drop = True)

In [ ]:
data.head(2)

    Timestamp  Open  High  ...  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0  1325317920  4.39  4.39  ...      0.455581               2.00            4.39
1  1325346600  4.39  4.39  ...     48.000000             210.72            4.39

[2 rows x 8 columns]

In [ ]:
x = data.Weighted_Price
y = data.Close

In [ ]:
x

0              4.390000
1              4.390000
2              4.526411
3              4.580000
4              4.580000
               ...
3484300    28806.429798
3484301    28846.441863
3484302    28879.056266
3484303    28893.695831
3484304    28909.166061
Name: Weighted_Price, Length: 3484305, dtype: float64

In [ ]:
x = data.drop(columns= ['Timestamp', 'Close'])
y = data.Close

In [ ]:
K = 2

aleatorio = True

kfold = KFold(K, aleatorio)

ciclo = 1

for indices_train, indices_test in kfold.split(x):
    print("Ciclo: "+str(ciclo))
    
    print("Usaré "+str(x.iloc[indices_train].shape)+" datos para entrenar (entrada)")
    print("Usaré "+str(y[indices_train].shape)+" datos para entrenar (salida)")
    
    print("Usaré "+str(x.iloc[indices_test].shape)+" datos para probar (entrada)")
    print("Usaré "+str(y[indices_test].shape)+" datos para probar (salida)")    
    ciclo+=1

Ciclo: 1
Usaré (1742152, 6) datos para entrenar (entrada)
Usaré (1742152,) datos para entrenar (salida)
Usaré (1742153, 6) datos para probar (entrada)
Usaré (1742153,) datos para probar (salida)
Ciclo: 2
Usaré (1742153, 6) datos para entrenar (entrada)
Usaré (1742153,) datos para entrenar (salida)
Usaré (1742152, 6) datos para probar (entrada)
Usaré (1742152,) datos para probar (salida)

In [ ]:
K = 3

aleatorio = True

kfold = KFold(K, aleatorio)

ciclo = 1

for indices_train, indices_test in kfold.split(x):
    print("Ciclo: "+str(ciclo))
    
    print("Usaré "+str(x.iloc[indices_train].shape)+" datos para entrenar (entrada)")
    print("Usaré "+str(y[indices_train].shape)+" datos para entrenar (salida)")
    
    print("Usaré "+str(x.iloc[indices_test].shape)+" datos para probar (entrada)")
    print("Usaré "+str(y[indices_test].shape)+" datos para probar (salida)")    
    ciclo+=1

Ciclo: 1
Usaré (2322870, 6) datos para entrenar (entrada)
Usaré (2322870,) datos para entrenar (salida)
Usaré (1161435, 6) datos para probar (entrada)
Usaré (1161435,) datos para probar (salida)
Ciclo: 2
Usaré (2322870, 6) datos para entrenar (entrada)
Usaré (2322870,) datos para entrenar (salida)
Usaré (1161435, 6) datos para probar (entrada)
Usaré (1161435,) datos para probar (salida)
Ciclo: 3
Usaré (2322870, 6) datos para entrenar (entrada)
Usaré (2322870,) datos para entrenar (salida)
Usaré (1161435, 6) datos para probar (entrada)
Usaré (1161435,) datos para probar (salida)