<a href="https://colab.research.google.com/github/IsauraRs/Data-Science-BEDU/blob/master/M%C3%B3dulo3/MachineLearning/Sesi%C3%B3n2/Reto01_S02_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
from matplotlib import pyplot as plt
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
import pandas as pd

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/bitstampUSD_1-min_data_2012-01-01_to_2020-12-31.csv" , sep = ',')

In [ ]:
data.head(2)

    Timestamp  Open  High  ...  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0  1325317920  4.39  4.39  ...      0.455581                2.0            4.39
1  1325317980   NaN   NaN  ...           NaN                NaN             NaN

[2 rows x 8 columns]

In [ ]:
data = data.apply(pd.to_numeric, errors = 'coerce')
data = data.dropna()

In [ ]:
data = data.reset_index(drop = True)

In [ ]:
data.shape

(3484305, 8)

In [ ]:
x = data.drop(columns = ['Close'])
y = data.Close

In [ ]:
def particionar(entradas, salidas, porcentaje_entrenamiento, porcentaje_validacion, porcentaje_prueba):
    temp_size = porcentaje_validacion + porcentaje_prueba
    x_train, x_temp, y_train, y_temp = train_test_split(entradas, salidas, test_size =temp_size)
    if(porcentaje_validacion > 0):
        test_size = porcentaje_prueba/temp_size
        x_val, x_test, y_val, y_test = train_test_split(x_temp, y_temp, test_size = test_size)
    else:
        return [x_train, None, x_temp, y_train, None, y_temp]
    return [x_train, x_val, x_test, y_train, y_val, y_test]

X -> data set completo, y -> columna que se quiere predecir.

In [ ]:
[x_train, x_val, x_test, y_train, y_val, y_test] = particionar(x,y,0.60,0.10,0.30)

In [ ]:
print(x_train.shape)
print(x_val.shape)
print(x_test.shape)

(2090583, 7)
(348430, 7)
(1045292, 7)

In [ ]:
[x_train, x_val, x_test, y_train, y_val, y_test] = particionar(x,y,0.70,0.10,0.20)

print(x_train.shape)
print(x_val.shape)
print(x_test.shape)

(2439013, 7)
(348430, 7)
(696862, 7)

In [ ]:
[x_train, x_val, x_test, y_train, y_val, y_test] = particionar(x, y, 50, 20, 30)

print(x_train.shape)
print(x_val.shape)
print(x_test.shape)

(3484255, 7)
(20, 7)
(30, 7)