<a href="https://colab.research.google.com/github/IsauraRs/Data-Science-BEDU/blob/master/M%C3%B3dulo2/Python/Sesi%C3%B3n8/Prework_S08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/de/f7/b783b60a3bd8aea348990c60fb0b3ed2f843c6f40ad29e37a89a5d50d7a3/mysql_connector_python-8.0.23-cp37-cp37m-manylinux1_x86_64.whl (18.0MB)
     |████████████████████████████████| 18.1MB 1.3MB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.12.4)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (54.0.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.23

In [3]:
import mysql.connector

In [4]:
!systemctl start mysql

System has not been booted with systemd as init system (PID 1). Can't operate.

In [5]:
cnx = mysql.connector.connect(
    host="ec2-34-219-184-154.us-west-2.compute.amazonaws.com",
    port=3306,
    user="movienerd",
    password='sonerdy',
    database='movielens'
)

DatabaseError: ignored

In [ ]:
cursor = cnx.cursor()

NameError: ignored