<a href="https://colab.research.google.com/github/IsauraRs/Data-Science-BEDU/blob/master/M%C3%B3dulo2/Python/Sesi%C3%B3n8/Reto1_S08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 1: Conectándose a una base de datos

### 1. Objetivos:
    - Practicar conectarse a una base de datos y revisar la conexión.
    
---
    
### 2. Desarrollo:

#### a) Conectándose a MySQL

Este primer Reto es muy sencillo: 

1. Pídele a tu experta los datos de conexión que necesitas para conectarte al SGBD que ha sido levantado para esta sesión.
2. Si no lo has hecho ya, instala la librería `mysql-connector`.
3. Conéctate a la base de datos usando `mysql-connector`.
4. Revisa que estás conectado a la base de datos pidiendo los nombres de todas las tablas en la base de datos.

In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/de/f7/b783b60a3bd8aea348990c60fb0b3ed2f843c6f40ad29e37a89a5d50d7a3/mysql_connector_python-8.0.23-cp37-cp37m-manylinux1_x86_64.whl (18.0MB)
     |████████████████████████████████| 18.1MB 1.4MB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.12.4)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (54.0.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.23

In [ ]:
import mysql.connector

In [ ]:
# Tu código va aquí
cnx = mysql.connector.connect(
    host = "ec2-34-219-184-154.us-west-2.compute.amazonaws.com",
    port = 3306,
    user = "data",
    password = "khQ9--mp6LWq97iA",
    database = "movielens"

)

Asegúrate de que tu conexión esté funcionando. Cualquier duda que tengas, la puedes expresar a tu experta. Es muy importante que te conectes exitosamente para poder realizar todos los Retos siguientes.

In [ ]:
cursor = cnx.cursor()

In [ ]:
cursor.execute("SHOW TABLES")

In [ ]:
cursor.fetchall()

[('age_ranges',), ('movies',), ('occupations',), ('ratings',), ('users',)]

In [ ]:
cursor.close()

True