<a href="https://colab.research.google.com/github/IsauraRs/Data-Science-BEDU/blob/master/M%C3%B3dulo2/Python/Sesi%C3%B3n8/Reto6_S08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 6: Lo que los científicos aman

### 1. Objetivos:
    - Practicar las siguientes herramientas:
        - Lectura de .csv
        - `merge`
        - Filtros con value_counts()
        - Agrupaciones y reordenamientos
    
---
    
### 2. Desarrollo:

#### a) Lo que los científicos aman

En este Reto vamos a obtener una lista de las películas que fueron mejor evaluadas por científicos para saber cuáles son sus favoritas. Vamos a realizar los siguientes pasos:

1. Lee los archivos para `movies`, `ratings` y `users`.
2. Agrega **solamente** la columna `occupation` al `DataFrame` `ratings`, para tener la información de las ocupaciones de los usuarios que realizaron los ratings.
3. Filtra tu tabla `ratings` para quedarte solamente con los ratings hechos por científicos.
4. Agrega **solamente** la columna `title` de la tabla `movies` a la tabla `ratings` para tener la información de los nombres de las películas que fueron evaluadas por científicos.
5. Filtra tu `DataFrame` para quedarte **solamente** con las películas que fueron evaluadas más de 50 veces.
6. Realiza una agrupación por película y computa el promedio de los ratings de cada película.
7. Ordena la `Serie` resultante descendentemente y asígnala  a la variable `mean_of_scientists_ratings_sorted`.

> **Nota**: el paso #5 es un poco complejo. No te desesperes si no encuentras una solución rápidamente. ¡Pídele a la experta que te guíe para que puedas resolverlo sin que te explote la cabeza!

In [ ]:
!pip install mysql-connector-python

In [ ]:
import mysql.connector
import pandas as pd

In [ ]:
movies = pd.read_csv("/content/drive/MyDrive/Datasets/MovieLens/movies-separated_by_money-raw.csv", index_col= 0, sep="$")

In [ ]:
ratings = pd.read_csv("/content/drive/MyDrive/Datasets/MovieLens/ratings-raw.csv", index_col=0)

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [ ]:
users = pd.read_csv("/content/drive/MyDrive/Datasets/MovieLens/users-raw.csv", index_col=0)

In [ ]:
users.head()

        gender  age  occupation     cp
user_id
1            F    1          10  48067
2            M   56          16  70072
3            M   25          15  55117
4            M   45           7  02460
5            M   25          20  55455

In [ ]:
users_occ = users["occupation"]

In [ ]:
ratings.head()

         movie_id  rating  timestamp
user_id
1            1193       5  978300760
1             661       3  978302109
1             914       3  978301968
1            3408       4  978300275
1            2355       5  978824291

In [ ]:
rating_occupation_merge = pd.merge(ratings, users["occupation"], left_on = "user_id", right_index= True)
rating_occupation_merge

         movie_id  rating  timestamp  occupation
user_id
1            1193       5  978300760          10
1             661       3  978302109          10
1             914       3  978301968          10
1            3408       4  978300275          10
1            2355       5  978824291          10
...           ...     ...        ...         ...
6040         1091       1  956716541           6
6040         1094       5  956704887           6
6040          562       5  956704746           6
6040         1096       4  956715648           6
6040         1097       4  956715569           6

[1000209 rows x 4 columns]

In [ ]:
ration

In [ ]:
# Tu código va aquí
#
## ...
## ...

mean_of_scientists_ratings_sorted =

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Pídele a tu experta la función de verificación `visualizar_lista` (encontrada en el archivo `helpers.py` de la carpeta donde se encuentra este Reto), pégala debajo y corre la celda para verificar tu resultado.

In [ ]:
# Pega aquí la función de verificación 
def visualizar_lista(mean_of_scientists_ratings_sorted):
    import matplotlib.pyplot as plt
    import seaborn as sns

    fig, ax = plt.subplots(figsize=(10, 10))
    ax.set_title('Ratings promedio de las películas más evaluadas por científicos')
    sns.barplot(mean_of_scientists_ratings_sorted, mean_of_scientists_ratings_sorted.index, ax=ax)
    ax.set(ylabel='Título', xlabel='Rating Promedio')

visualizar_lista(mean_of_scientists_ratings_sorted)