<a href="https://colab.research.google.com/github/IsauraRs/Data-Science-BEDU/blob/master/M%C3%B3dulo2/Python/Sesi%C3%B3n8/Reto3_S08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 3: `merge` para completar información faltante

### 1. Objetivos:
    - Completar la tabla `users` usando la información contenida en las tablas `occupations` y `age_ranges`.
    
---
    
### 2. Desarrollo:

#### a) Complementado información usando el método `merge`

No es muy práctico tener las tablas `occupations` y `age_range` por sí solas, ya que la información que contienen está íntimamente relacionada con al información de la tabla `users`. Vamos entonces a unir las tres tablas en una sola tabla para tener esa información mucho más accesible. Tu Reto consiste en los siguientes pasos:

1. Lee tus archivos `users`, `occupations` y `age_range` (o como sea que les quisiste llamar) y conviértelos en `DataFrames`.
2. Utiliza el método `merge` para agregar la información contenida en la tabla `occupations` a la tabla `users`.
3. Utiliza el método `merge` para agregar la información contenida en la tabla `age_ranges` a la tabla `users`.
4. Si lo consideras necesario, renombra y reordena las columnas para que la información sea clara.
5. Guarda tu nuevo conjunto de datos en un nuevo archivo .csv.

In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/de/f7/b783b60a3bd8aea348990c60fb0b3ed2f843c6f40ad29e37a89a5d50d7a3/mysql_connector_python-8.0.23-cp37-cp37m-manylinux1_x86_64.whl (18.0MB)
     |████████████████████████████████| 18.1MB 1.4MB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.12.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (54.0.0)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.23

In [ ]:
import mysql.connector
import pandas as pd

In [ ]:
# Tu código va aquí
cnx = mysql.connector.connect(
    host = "ec2-34-219-184-154.us-west-2.compute.amazonaws.com",
    port = 3306,
    user = "data",
    password = "khQ9--mp6LWq97iA",
    database = "movielens"

)

cursor = cnx.cursor()

In [ ]:
users = pd.read_csv("/content/drive/MyDrive/Datasets/MovieLens/users-raw.csv", index_col = 0)

In [ ]:
occupation = pd.read_csv("/content/drive/MyDrive/Datasets/MovieLens/occupations-raw.csv", index_col = 0)

In [ ]:
age_ranges = pd.read_csv("/content/drive/MyDrive/Datasets/MovieLens/age_ranges-raw.csv", index_col = 0)

In [ ]:
df_users = pd.DataFrame(users)

In [ ]:
df_users

        gender  age  occupation     cp
user_id
1            F    1          10  48067
2            M   56          16  70072
3            M   25          15  55117
4            M   45           7  02460
5            M   25          20  55455
...        ...  ...         ...    ...
6036         F   25          15  32603
6037         F   45           1  76006
6038         F   56           1  14706
6039         F   45           0  01060
6040         M   25           6  11106

[6040 rows x 4 columns]

In [ ]:
df_occupations = pd.DataFrame(occupation)

In [ ]:
df_age_range = pd.DataFrame(age_ranges)

In [ ]:
df_age_range

           range
age_id
1       Under 18
18         18-24
25         25-34
35         35-44
45         45-49
50         50-55
56           56+

In [ ]:
users_occupation = pd.merge(users, occupation, left_on = "occupation", right_index = True).sort_index()

In [ ]:
users_occupation

        gender  age  occupation     cp             description
user_id
1            F    1          10  48067            K-12 student
2            M   56          16  70072           self-employed
3            M   25          15  55117               scientist
4            M   45           7  02460    executive/managerial
5            M   25          20  55455                  writer
...        ...  ...         ...    ...                     ...
6036         F   25          15  32603               scientist
6037         F   45           1  76006       academic/educator
6038         F   56           1  14706       academic/educator
6039         F   45           0  01060  other or not specified
6040         M   25           6  11106      doctor/health care

[6040 rows x 5 columns]

In [ ]:
users_age_ranges = pd.merge(users_occupation, df_age_range, left_on = "df_age_range", right_index= True)

KeyError: ignored

Compara tus resultados con tus compañeros y tu experta para asegurarse de que todos tengan un conjunto similar que contenga toda la información requerida.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
user