# Castings

In [ ]:
int("5") + 6

11

In [ ]:
float("3")

3.0

In [ ]:
str(5)

'5'

## Cast con pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Datasets/new_york_times_bestsellers-dirty.csv", index_col = 0)

In [ ]:
df.head()

                                  amazon_product_url  ... price.numberDouble
0  http://www.amazon.com/The-Host-Novel-Stephenie...  ...              25.99
1  http://www.amazon.com/Love-Youre-With-Emily-Gi...  ...              24.95
2  http://www.amazon.com/The-Front-Garano-Patrici...  ...              22.95
3  http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...  ...              24.95
5  http://www.amazon.com/Phantom-Prey-John-Sandfo...  ...              26.95

[5 rows x 12 columns]

In [ ]:
df.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                  object
rank_last_week.numberInt         int64
weeks_on_list.numberInt          int64
price.numberDouble             float64
dtype: object

In [ ]:
diccionario_de_conversion = {
    "bestsellers_date.numberLong" : "datetime64[ns]",  #No es necesario poner la librería time
    "published_date.numberLong" : "datetime64[ns]"
}

In [ ]:
temp = df.astype(diccionario_de_conversion) 
temp.head()

                                  amazon_product_url  ... price.numberDouble
0  http://www.amazon.com/The-Host-Novel-Stephenie...  ...              25.99
1  http://www.amazon.com/Love-Youre-With-Emily-Gi...  ...              24.95
2  http://www.amazon.com/The-Front-Garano-Patrici...  ...              22.95
3  http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...  ...              24.95
5  http://www.amazon.com/Phantom-Prey-John-Sandfo...  ...              26.95

[5 rows x 12 columns]

In [ ]:
temp.dtypes

amazon_product_url                     object
author                                 object
description                            object
publisher                              object
title                                  object
oid                                    object
bestsellers_date.numberLong    datetime64[ns]
published_date.numberLong      datetime64[ns]
rank.numberInt                         object
rank_last_week.numberInt                int64
weeks_on_list.numberInt                 int64
price.numberDouble                    float64
dtype: object

In [ ]:
#Para convertir a formato de fecha
pd.to_datetime(df["published_date.numberLong"], unit = "ms")

0      2008-06-08
1      2008-06-08
2      2008-06-08
3      2008-06-08
5      2008-06-08
          ...
3027   2013-05-05
3028   2013-05-05
3029   2013-05-05
3030   2013-05-05
3031   2013-05-05
Name: published_date.numberLong, Length: 2266, dtype: datetime64[ns]

In [ ]:
#as type no corrige errores
df["rank.numberInt"].astype(int)

ValueError: ignored

In [ ]:
pd.to_numeric(df["rank.numberInt"], errors = "coerce")

0        2.0
1        3.0
2        4.0
3        5.0
5        7.0
        ...
3027     8.0
3028     9.0
3029    11.0
3030    13.0
3031    14.0
Name: rank.numberInt, Length: 2266, dtype: float64

In [ ]:
df["rank_numberInt"] = pd.to_numeric(df["rank.numberInt"], errors = "coerce")
df = df.dropna(axis = 0).copy()

In [ ]:
df["rank.numberInt"] = df["rank.numberInt"].astype(int)

In [ ]:
df.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                   int64
rank_last_week.numberInt         int64
weeks_on_list.numberInt          int64
price.numberDouble             float64
rank_numberInt                 float64
dtype: object

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Datasets/new_york_times_bestsellers-dirty.csv", index_col = 0)

In [ ]:
df.head()

                                  amazon_product_url  ... price.numberDouble
0  http://www.amazon.com/The-Host-Novel-Stephenie...  ...              25.99
1  http://www.amazon.com/Love-Youre-With-Emily-Gi...  ...              24.95
2  http://www.amazon.com/The-Front-Garano-Patrici...  ...              22.95
3  http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...  ...              24.95
5  http://www.amazon.com/Phantom-Prey-John-Sandfo...  ...              26.95

[5 rows x 12 columns]

In [ ]:
df["description"]

0       Descr: Aliens have taken control of the minds ...
1       Descr: A woman's happy marriage is shaken when...
2       Descr: A Massachusetts state investigator and ...
3       Descr: An aging porn queens aims to cap her ca...
5       Descr: The Minneapolis detective Lucas Davenpo...
                              ...
3027    Descr: The New York lawyer Stone Barrington di...
3028    Descr: Jake Fisher discovers that neither the ...
3029    Descr: Six friends meet in the 1970s at a summ...
3030    Descr: Bernie Gunther, the Berlin cop, is sent...
3031    Descr: A New Hampshire baker finds herself in ...
Name: description, Length: 2266, dtype: object

In [ ]:
df["description"].str.replace("Descr:", "")

0        Aliens have taken control of the minds and bo...
1        A woman's happy marriage is shaken when she e...
2        A Massachusetts state investigator and his te...
3        An aging porn queens aims to cap her career b...
5        The Minneapolis detective Lucas Davenport inv...
                              ...
3027     The New York lawyer Stone Barrington discover...
3028     Jake Fisher discovers that neither the woman ...
3029     Six friends meet in the 1970s at a summer art...
3030     Bernie Gunther, the Berlin cop, is sent to Sm...
3031     A New Hampshire baker finds herself in the mi...
Name: description, Length: 2266, dtype: object

In [ ]:
df["description"] = df["description"].str.replace("Descr: ", "")

In [ ]:
df.head(2)

                                  amazon_product_url  ... price.numberDouble
0  http://www.amazon.com/The-Host-Novel-Stephenie...  ...              25.99
1  http://www.amazon.com/Love-Youre-With-Emily-Gi...  ...              24.95

[2 rows x 12 columns]

In [ ]:
df["description"].str.strip()

0       Aliens have taken control of the minds and bod...
1       A woman's happy marriage is shaken when she en...
2       A Massachusetts state investigator and his tea...
3       An aging porn queens aims to cap her career by...
5       The Minneapolis detective Lucas Davenport inve...
                              ...
3027    The New York lawyer Stone Barrington discovers...
3028    Jake Fisher discovers that neither the woman h...
3029    Six friends meet in the 1970s at a summer arts...
3030    Bernie Gunther, the Berlin cop, is sent to Smo...
3031    A New Hampshire baker finds herself in the mid...
Name: description, Length: 2266, dtype: object

In [ ]:
df["title"].str.lower()

0                       the host
1       love the one you're with
2                      the front
3                          snuff
5                   phantom prey
                  ...
3027     unintended consequences
3028                   six years
3029            the interestings
3030        a man without breath
3031             the storyteller
Name: title, Length: 2266, dtype: object

In [ ]:
df["title"].str.title() #Respeta las iniciales de las palabras en mayúsculas

0                       The Host
1       Love The One You'Re With
2                      The Front
3                          Snuff
5                   Phantom Prey
                  ...
3027     Unintended Consequences
3028                   Six Years
3029            The Interestings
3030        A Man Without Breath
3031             The Storyteller
Name: title, Length: 2266, dtype: object

In [ ]:
df["title"] = df["title"].str.title()

In [ ]:
df["author"]

0         Stephenie Meyer
1            Emily Giffin
2       Patricia Cornwell
3         Chuck Palahniuk
5           John Sandford
              ...
3027         Stuart Woods
3028         Harlan Coben
3029         Meg Wolitzer
3030          Philip Kerr
3031         Jodi Picoult
Name: author, Length: 2266, dtype: object

In [ ]:
df["author"].str.split(" ")

0         [Stephenie, Meyer]
1            [Emily, Giffin]
2       [Patricia, Cornwell]
3         [Chuck, Palahniuk]
5           [John, Sandford]
                ...
3027         [Stuart, Woods]
3028         [Harlan, Coben]
3029         [Meg, Wolitzer]
3030          [Philip, Kerr]
3031         [Jodi, Picoult]
Name: author, Length: 2266, dtype: object

In [ ]:
df["author"].str.split(" ", expand = True)

              0          1
0     Stephenie      Meyer
1         Emily     Giffin
2      Patricia   Cornwell
3         Chuck  Palahniuk
5          John   Sandford
...         ...        ...
3027     Stuart      Woods
3028     Harlan      Coben
3029        Meg   Wolitzer
3030     Philip       Kerr
3031       Jodi    Picoult

[2266 rows x 2 columns]

In [ ]:
df[["author_first_name", "author_last_name"]] = df["author"].str.split(" ", expand = True)

In [ ]:
df.head()

                                  amazon_product_url  ... author_last_name
0  http://www.amazon.com/The-Host-Novel-Stephenie...  ...            Meyer
1  http://www.amazon.com/Love-Youre-With-Emily-Gi...  ...           Giffin
2  http://www.amazon.com/The-Front-Garano-Patrici...  ...         Cornwell
3  http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...  ...        Palahniuk
5  http://www.amazon.com/Phantom-Prey-John-Sandfo...  ...         Sandford

[5 rows x 14 columns]

                                  amazon_product_url  ... author_last_name
0  http://www.amazon.com/The-Host-Novel-Stephenie...  ...            Meyer
1  http://www.amazon.com/Love-Youre-With-Emily-Gi...  ...           Giffin
2  http://www.amazon.com/The-Front-Garano-Patrici...  ...         Cornwell
3  http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...  ...        Palahniuk
5  http://www.amazon.com/Phantom-Prey-John-Sandfo...  ...         Sandford

[5 rows x 14 columns]

In [ ]:
int_a_letra = {
    '1': 'a',
    '2': 'b',
    '3': 'c',
    '4': 'd',
    '5': 'e',
    '6': 'f',
    '7': 'g',
    '8': 'h',
    '9': 'i',
    '10': 'j',
    '11': 'k',
    '12': 'l',
    '13': 'm',
    '14': 'n',
    '15': 'o',
    '16': 'p',
    'No Rank': 'z'
}

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Datasets/new_york_times_bestsellers-dirty.csv", index_col = 0)

In [ ]:
df.head(2)

                                  amazon_product_url  ... price.numberDouble
0  http://www.amazon.com/The-Host-Novel-Stephenie...  ...              25.99
1  http://www.amazon.com/Love-Youre-With-Emily-Gi...  ...              24.95

[2 rows x 12 columns]

In [ ]:
#Originalmente está hecho para mapear diccionarios
df["rank.numberInt"].map(int_a_letra).head(20)

0     b
1     c
2     d
3     e
5     g
6     h
7     i
8     j
9     l
10    m
11    n
13    z
14    d
16    f
17    g
18    h
19    i
20    j
21    k
22    l
Name: rank.numberInt, dtype: object

In [ ]:
def double_to_money(value):
  return f"${value} USD"

In [ ]:
df["price.numberDouble"].map(double_to_money)

0       $25.99 USD
1       $24.95 USD
2       $22.95 USD
3       $24.95 USD
5       $26.95 USD
           ...
3027    $26.95 USD
3028    $27.95 USD
3029    $27.95 USD
3030    $26.95 USD
3031    $28.99 USD
Name: price.numberDouble, Length: 2266, dtype: object

In [ ]:
def years_since_bestseller(value):
  as_datetime = pd.to_datetime(value, unit = "ms")
  today = pd.to_datetime("today")
  difference_in_days = (today - as_datetime).days
  in_years = difference_in_days / 365

  return in_years

In [ ]:
df["published_date.numberLong"].apply(years_since_bestseller)

0       12.758904
1       12.758904
2       12.758904
3       12.758904
5       12.758904
          ...
3027     7.849315
3028     7.849315
3029     7.849315
3030     7.849315
3031     7.849315
Name: published_date.numberLong, Length: 2266, dtype: float64

In [ ]:
def week_on_list_percentage(value, max_weeks_on_list):
  percentage = value * 100 / max_weeks_on_list
  as_string = f"{percentage:.2f}%" #:.2f para usar dos decimales

  return as_string

In [ ]:
df["weeks_on_list.numberInt"].apply(week_on_list_percentage, args = (df["weeks_on_list.numberInt"].max(),)) #el primer valor es el que se aplica a la función

0       2.78%
1       1.85%
2       0.93%
3       0.93%
5       2.78%
        ...
3027    1.85%
3028    4.63%
3029    1.85%
3030    0.93%
3031    7.41%
Name: weeks_on_list.numberInt, Length: 2266, dtype: object

In [ ]:
df.apply(week_om_list_percentage, axis = 1)

TypeError: ignored

In [ ]:
df["author"].str.startswith("R") #Filtra cuál empieza con R

0       False
1       False
2       False
3       False
5       False
        ...
3027    False
3028    False
3029    False
3030    False
3031    False
Name: author, Length: 2266, dtype: bool

In [ ]:
df[df["author"].str.startswith("R") ].head()

                                    amazon_product_url  ... price.numberDouble
79   http://www.amazon.com/Chasing-Darkness-Elvis-N...  ...              25.95
94   http://www.amazon.com/Chasing-Darkness-Elvis-N...  ...              25.95
110  http://www.amazon.com/Killer-View-Fleming-Ridl...  ...              24.95
143  http://www.amazon.com/Foreign-Body-Robin-Cook/...  ...              25.95
158  http://www.amazon.com/Foreign-Body-Robin-Cook/...  ...              25.95

[5 rows x 12 columns]

In [ ]:
df["price.numberDouble"] > 20

0       True
1       True
2       True
3       True
5       True
        ...
3027    True
3028    True
3029    True
3030    True
3031    True
Name: price.numberDouble, Length: 2266, dtype: bool

In [ ]:
df[df["price.numberDouble"] > 20].head(2)

                                  amazon_product_url  ... price.numberDouble
0  http://www.amazon.com/The-Host-Novel-Stephenie...  ...              25.99
1  http://www.amazon.com/Love-Youre-With-Emily-Gi...  ...              24.95

[2 rows x 12 columns]

In [ ]:
df["rank.numberInt"] == 1

0       False
1       False
2       False
3       False
5       False
        ...
3027    False
3028    False
3029    False
3030    False
3031    False
Name: rank.numberInt, Length: 2266, dtype: bool

In [ ]:
df[df["rank.numberInt"] == "1"]

                                     amazon_product_url  ... price.numberDouble
51    http://www.amazon.com/Fearless-Fourteen-Janet-...  ...              27.95
63    http://www.amazon.com/Fearless-Fourteen-Janet-...  ...              27.95
85    http://www.amazon.com/Tribute-Nora-Roberts/dp/...  ...              26.95
98    http://www.amazon.com/Tribute-Nora-Roberts/dp/...  ...              26.95
111   http://www.amazon.com/Secret-Servant-Gabriel-A...  ...              26.95
...                                                 ...  ...                ...
2938  http://www.amazon.com/Alex-Cross-Run-James-Pat...  ...              28.99
2959  http://www.amazon.com/Frost-Burned-Thompson-Pa...  ...              26.95
2969  http://www.amazon.com/The-Storyteller-Jodi-Pic...  ...              28.99
2980  http://www.amazon.com/Six-Years-Harlan-Coben/d...  ...              27.95
3022  http://www.amazon.com/Whiskey-Beach-Nora-Rober...  ...              27.95

[135 rows x 12 columns]

# Sorting

In [ ]:
df.head()

                                  amazon_product_url  ... price.numberDouble
0  http://www.amazon.com/The-Host-Novel-Stephenie...  ...              25.99
1  http://www.amazon.com/Love-Youre-With-Emily-Gi...  ...              24.95
2  http://www.amazon.com/The-Front-Garano-Patrici...  ...              22.95
3  http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...  ...              24.95
5  http://www.amazon.com/Phantom-Prey-John-Sandfo...  ...              26.95

[5 rows x 12 columns]

In [ ]:
df.sort_values("price.numberDouble")

                                     amazon_product_url  ... price.numberDouble
1343  http://www.amazon.com/Blockade-Billy-Stephen-K...  ...              14.99
1328  http://www.amazon.com/Blockade-Billy-Stephen-K...  ...              14.99
1310  http://www.amazon.com/Blockade-Billy-Stephen-K...  ...              14.99
2205  http://www.amazon.com/1225-Christmas-Tree-Lane...  ...              16.95
893   http://www.amazon.com/The-Perfect-Christmas-De...  ...              16.95
...                                                 ...  ...                ...
2208  http://www.amazon.com/1Q84-Haruki-Murakami-ebo...  ...              30.50
2243  http://www.amazon.com/1Q84-Haruki-Murakami-ebo...  ...              30.50
2232  http://www.amazon.com/1Q84-Haruki-Murakami-ebo...  ...              30.50
2287  http://www.amazon.com/1Q84-Haruki-Murakami-ebo...  ...              30.50
2264  http://www.amazon.com/1Q84-Haruki-Murakami-ebo...  ...              30.50

[2266 rows x 12 columns]

In [ ]:
df.sort_values("price.numberDouble", ascending = False)

                                     amazon_product_url  ... price.numberDouble
2264  http://www.amazon.com/1Q84-Haruki-Murakami-ebo...  ...              30.50
2255  http://www.amazon.com/1Q84-Haruki-Murakami-ebo...  ...              30.50
2276  http://www.amazon.com/1Q84-Haruki-Murakami-ebo...  ...              30.50
2287  http://www.amazon.com/1Q84-Haruki-Murakami-ebo...  ...              30.50
2232  http://www.amazon.com/1Q84-Haruki-Murakami-ebo...  ...              30.50
...                                                 ...  ...                ...
2205  http://www.amazon.com/1225-Christmas-Tree-Lane...  ...              16.95
237   http://www.amazon.com/Cedar-Cove-Christmas-Deb...  ...              16.95
1343  http://www.amazon.com/Blockade-Billy-Stephen-K...  ...              14.99
1310  http://www.amazon.com/Blockade-Billy-Stephen-K...  ...              14.99
1328  http://www.amazon.com/Blockade-Billy-Stephen-K...  ...              14.99

[2266 rows x 12 columns]

In [ ]:
df_putnam = df[df["publisher"] == "Putnam"]

In [ ]:
df_putnam.sort_values("weeks_on_list.numberInt")

                                     amazon_product_url  ... price.numberDouble
2     http://www.amazon.com/The-Front-Garano-Patrici...  ...              22.95
751   http://www.amazon.com/The-Defector-Gabriel-All...  ...              26.95
1713  http://www.amazon.com/The-Judas-Gate-Sean-Dill...  ...              26.95
1717  http://www.amazon.com/The-Sentry-Joe-Pike-Nove...  ...              26.95
724   http://www.amazon.com/Black-Hills-Nora-Roberts...  ...              26.95
...                                                 ...  ...                ...
1729  http://www.amazon.com/Port-Mortuary-Kay-Scarpe...  ...              27.95
421   http://www.amazon.com/Scarpetta-Kay-Patricia-C...  ...              27.95
438   http://www.amazon.com/Scarpetta-Kay-Patricia-C...  ...              27.95
455   http://www.amazon.com/Scarpetta-Kay-Patricia-C...  ...              27.95
470   http://www.amazon.com/Scarpetta-Kay-Patricia-C...  ...              27.95

[267 rows x 12 columns]