# Funciones vectorizadas
Las funciones vectorizadas realizan una operación a cada elemento de una serie

In [ ]:
import pandas as pd

In [ ]:
serie_1 = pd.Series([1,2,3,4,5,6,7,8,9,10])

In [ ]:
serie_1 + 10

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
9    20
dtype: int64

In [ ]:
serie_1 * 10

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [ ]:
serie_1 * 60 / 100

0    0.6
1    1.2
2    1.8
3    2.4
4    3.0
5    3.6
6    4.2
7    4.8
8    5.4
9    6.0
dtype: float64

In [ ]:
import numpy as np

In [ ]:
#numeric python
np.power(serie_1, 2)

0      1
1      4
2      9
3     16
4     25
5     36
6     49
7     64
8     81
9    100
dtype: int64

In [ ]:
np.sqrt(serie_1)

0    1.000000
1    1.414214
2    1.732051
3    2.000000
4    2.236068
5    2.449490
6    2.645751
7    2.828427
8    3.000000
9    3.162278
dtype: float64

# Agregaciones
Reducen la serie a un solo valor

In [ ]:
serie_2 = pd.Series([1,2,3,4,5])

In [ ]:
serie_2.sum()

15

In [ ]:
serie_2.min()

1

In [ ]:
serie_2.max()

5

In [ ]:
serie_2.count()

5

# Funciones vectorizadas y agregaciones en Data frames

In [ ]:
datos = {
    'precio': [34, 54, 223, 78, 56, 12, 34],
    'cantidad_en_stock': [3, 6, 10, 2, 5, 45, 2],
    'productos_vendidos': [3, 45, 23, 76, 24, 6, 2]
}

df = pd.DataFrame(datos, index=["Pokemaster", "Cegatron", "Pikame Mucho", "Lazarillo de Tormes", "Stevie Wonder", "Needle", "El AyMeDuele"])

In [ ]:
df

                     precio  cantidad_en_stock  productos_vendidos
Pokemaster               34                  3                   3
Cegatron                 54                  6                  45
Pikame Mucho            223                 10                  23
Lazarillo de Tormes      78                  2                  76
Stevie Wonder            56                  5                  24
Needle                   12                 45                   6
El AyMeDuele             34                  2                   2

In [ ]:
(df+100) /2

                     precio  cantidad_en_stock  productos_vendidos
Pokemaster             67.0               51.5                51.5
Cegatron               77.0               53.0                72.5
Pikame Mucho          161.5               55.0                61.5
Lazarillo de Tormes    89.0               51.0                88.0
Stevie Wonder          78.0               52.5                62.0
Needle                 56.0               72.5                53.0
El AyMeDuele           67.0               51.0                51.0

In [ ]:
np.power(df, 2)

                     precio  cantidad_en_stock  productos_vendidos
Pokemaster             1156                  9                   9
Cegatron               2916                 36                2025
Pikame Mucho          49729                100                 529
Lazarillo de Tormes    6084                  4                5776
Stevie Wonder          3136                 25                 576
Needle                  144               2025                  36
El AyMeDuele           1156                  4                   4

In [ ]:
np.sqrt(df)

                        precio  cantidad_en_stock  productos_vendidos
Pokemaster            5.830952           1.732051            1.732051
Cegatron              7.348469           2.449490            6.708204
Pikame Mucho         14.933185           3.162278            4.795832
Lazarillo de Tormes   8.831761           1.414214            8.717798
Stevie Wonder         7.483315           2.236068            4.898979
Needle                3.464102           6.708204            2.449490
El AyMeDuele          5.830952           1.414214            1.414214

In [ ]:
np.sin(df) + 100

                         precio  cantidad_en_stock  productos_vendidos
Pokemaster           100.529083         100.141120          100.141120
Cegatron              99.441211          99.720585          100.850904
Pikame Mucho         100.053053          99.455979           99.153780
Lazarillo de Tormes  100.513978         100.909297          100.566108
Stevie Wonder         99.478449          99.041076           99.094422
Needle                99.463427         100.850904           99.720585
El AyMeDuele         100.529083         100.909297          100.909297

In [ ]:
df.sum()

precio                491
cantidad_en_stock      73
productos_vendidos    179
dtype: int64

In [ ]:
#Es como transponerlas
df.sum(axis = 1) #El eje por default es 0

Pokemaster              40
Cegatron               105
Pikame Mucho           256
Lazarillo de Tormes    156
Stevie Wonder           85
Needle                  63
El AyMeDuele            38
dtype: int64

In [ ]:
df.min()

precio                12
cantidad_en_stock      2
productos_vendidos     2
dtype: int64

In [ ]:
df.min(axis = 1) #Saca el mínimo de cada hilera

Pokemaster              3
Cegatron                6
Pikame Mucho           10
Lazarillo de Tormes     2
Stevie Wonder           5
Needle                  6
El AyMeDuele            2
dtype: int64

In [ ]:
df.max(axis = 1)

Pokemaster              34
Cegatron                54
Pikame Mucho           223
Lazarillo de Tormes     78
Stevie Wonder           56
Needle                  45
El AyMeDuele            34
dtype: int64

In [ ]:
np.sum(df)

precio                491
cantidad_en_stock      73
productos_vendidos    179
dtype: int64

In [ ]:
df.max()

precio                223
cantidad_en_stock      45
productos_vendidos     76
dtype: int64

In [ ]:
np.nan

nan

In [ ]:
datos = {
    'precio': [34, 54, np.nan, np.nan, 56, 12, 34],
    'cantidad_en_stock': [3, 6, 14, np.nan, 5, 2, 10],
    'productos_vendidos': [3, 45, 23, np.nan, 24, 6, np.nan]
}

df = pd.DataFrame(datos, index=["Pokemaster", "Cegatron", "Pikame Mucho", "Lazarillo de Tormes", "Stevie Wonder", "Needle", "El AyMeDuele"])

In [ ]:
df

                     precio  cantidad_en_stock  productos_vendidos
Pokemaster             34.0                3.0                 3.0
Cegatron               54.0                6.0                45.0
Pikame Mucho            NaN               14.0                23.0
Lazarillo de Tormes     NaN                NaN                 NaN
Stevie Wonder          56.0                5.0                24.0
Needle                 12.0                2.0                 6.0
El AyMeDuele           34.0               10.0                 NaN

In [ ]:
df.isna()

                     precio  cantidad_en_stock  productos_vendidos
Pokemaster            False              False               False
Cegatron              False              False               False
Pikame Mucho           True              False               False
Lazarillo de Tormes    True               True                True
Stevie Wonder         False              False               False
Needle                False              False               False
El AyMeDuele          False              False                True

In [ ]:
df.isna().sum(axis = 0)

precio                2
cantidad_en_stock     1
productos_vendidos    2
dtype: int64

In [ ]:
df.isna().sum(axis = 1)

Pokemaster             0
Cegatron               0
Pikame Mucho           1
Lazarillo de Tormes    3
Stevie Wonder          0
Needle                 0
El AyMeDuele           1
dtype: int64

In [ ]:
#Para quitarlos se puede usar dropna
df.dropna()
#Quita la fila completa donde haya algún valor NaN

               precio  cantidad_en_stock  productos_vendidos
Pokemaster       34.0                3.0                 3.0
Cegatron         54.0                6.0                45.0
Stevie Wonder    56.0                5.0                24.0
Needle           12.0                2.0                 6.0

In [ ]:
df.dropna(axis = 1)

Empty DataFrame
Columns: []
Index: [Pokemaster, Cegatron, Pikame Mucho, Lazarillo de Tormes, Stevie Wonder, Needle, El AyMeDuele]

In [ ]:
df.dropna(axis = 0, how = "any") #Donde sea que haya un NaN, quita la hilera

               precio  cantidad_en_stock  productos_vendidos
Pokemaster       34.0                3.0                 3.0
Cegatron         54.0                6.0                45.0
Stevie Wonder    56.0                5.0                24.0
Needle           12.0                2.0                 6.0

In [ ]:
df.dropna(axis = 0, how = "all") #Quita toda la hilera solo si todos los valores tienen NaN

               precio  cantidad_en_stock  productos_vendidos
Pokemaster       34.0                3.0                 3.0
Cegatron         54.0                6.0                45.0
Pikame Mucho      NaN               14.0                23.0
Stevie Wonder    56.0                5.0                24.0
Needle           12.0                2.0                 6.0
El AyMeDuele     34.0               10.0                 NaN

In [ ]:
df["descuento"] = np.nan

In [ ]:
df

                     precio  cantidad_en_stock  productos_vendidos  descuento
Pokemaster             34.0                3.0                 3.0        NaN
Cegatron               54.0                6.0                45.0        NaN
Pikame Mucho            NaN               14.0                23.0        NaN
Lazarillo de Tormes     NaN                NaN                 NaN        NaN
Stevie Wonder          56.0                5.0                24.0        NaN
Needle                 12.0                2.0                 6.0        NaN
El AyMeDuele           34.0               10.0                 NaN        NaN

In [ ]:
df = df.dropna(axis = 1, how = "all")

In [ ]:
df.dropna(axis = 0, how = "all")

               precio  cantidad_en_stock  productos_vendidos
Pokemaster       34.0                3.0                 3.0
Cegatron         54.0                6.0                45.0
Pikame Mucho      NaN               14.0                23.0
Stevie Wonder    56.0                5.0                24.0
Needle           12.0                2.0                 6.0
El AyMeDuele     34.0               10.0                 NaN

In [ ]:
df["productos_vendidos"].fillna(0) #Para reemplazar los NaN por el valor dentro de fillna

Pokemaster              3.0
Cegatron               45.0
Pikame Mucho           23.0
Lazarillo de Tormes     0.0
Stevie Wonder          24.0
Needle                  6.0
El AyMeDuele            0.0
Name: productos_vendidos, dtype: float64

In [ ]:
df.dropna()

               precio  cantidad_en_stock  productos_vendidos
Pokemaster       34.0                3.0                 3.0
Cegatron         54.0                6.0                45.0
Stevie Wonder    56.0                5.0                24.0
Needle           12.0                2.0                 6.0
El AyMeDuele     34.0               10.0                 0.0

In [ ]:
df["productos_vendidos"] = df["productos_vendidos"].fillna(0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df.reset_index()

                 index  precio  cantidad_en_stock  productos_vendidos
0           Pokemaster    34.0                3.0                 3.0
1             Cegatron    54.0                6.0                45.0
2         Pikame Mucho     NaN               14.0                23.0
3  Lazarillo de Tormes     NaN                NaN                 0.0
4        Stevie Wonder    56.0                5.0                24.0
5               Needle    12.0                2.0                 6.0
6         El AyMeDuele    34.0               10.0                 0.0